.tweet-wrapper{
    min-width: 100%;
    border-bottom: 1px solid #dfdcdc;
}
.tweet-txt{
    text-align: justify;
}

.tweet{
    padding: 5px;
    background-color: #FFF;
}

.heading{
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-weight: 200;
}

.tweet-by{
    font-size: 18px;
    font-family:'Roboto';
    
}

.tweet-txt{
    font-size: 17px;
    font-weight: 200;
}

.tweet-date{
    font-size: 12px;
    font-weight: 200;
}

