.tweet-wrapper{
    margin-bottom: 25px;
    min-width: 100%;
}
.tweet-txt{
    text-align: justify;
}

.tweet{
    padding: 5px;
    background-color: #FFF;
}

.heading{
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-weight: 200;
}

.tweet-by{
    font-size: 18px;
    font-family:'Roboto';
    
}

.tweet-txt{
    font-size: 15px;
    font-weight: 400;
}

