<div class="follow-wrapper container-fluid">
    <div class="heading-follow">Tweet</div>
    <div class="shadow p-3">
      <div class="mb-3">
        <label htmlFor="exampleInputEmail1" class="form-label">Tweet</label>
        
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]='tweet' />
        
      </div>
      <div id="emailHelp" *ngIf="notificationMsg.length>0" [ngClass]="{'errorMsg':(isError), 'successMsg':(!isError), 'form-text':true}">{{notificationMsg}}</div>
      <button type="submit" class="btn btn-primary" (click)='tweetMsg()'>Tweet</button>
    </div>
  </div>