
@font-face {
  font-family: 'Roboto Thin';
  src: local('Roboto Thin'), url(./fonts/Roboto/roboto-v29-latin-300.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Light';
  src: local('Roboto Light'), url(./fonts/Roboto/roboto-v29-latin-100.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto/roboto-v29-latin-regular.woff) format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Thin',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f8f9fa;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
